rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Schedule Service Rules
    match /services/schedule {
      match /courses/{document=**} {
        allow read, write: if true;
      }
      
      match /schedules/{document=**} {
        allow read, write: if true;
      }
    } 
  }
}
