:root {
  --accent: #007aff;
}

.light {
  --bgc: #fff;
  --select: #f1f1f1;
  --select-hover: #e1e1e1;
  --text: #0f0f0f;
  --text-extra: #1f1f1f;
}

.dark {
  --bgc: #000;
  --select: #1c1c1e;
  --select-hover: #39383d;
  --text: #f6f6f8;
  --text-extra: #5c5c5e;
}

/* Theme change transition */
.ex { 
  transition: background 1000ms ease-in-out, color 500ms ease-in-out !important;
  -webkit-transition: background 1000ms ease-in-out, color 500ms ease-in-out !important;
  -moz-transition: background 1000ms ease-in-out, color 500ms ease-in-out !important;
  -o-transition: background 1000ms ease-in-out, color 500ms ease-in-out !important;
}

* {
  margin: 0;
  padding: 0;

  color: var(--text);
}

html {
  font-size: 14px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }
p { font-size: 1em; }
small { font-size: 0.8em; }
code { font-size: 1em; }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
