button.SignIn {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 4rem;

  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  border: none;
  outline: none;
}

button.SignIn img {
  margin-top: 5px;

  width: 2rem;
  height: auto;

  border-radius: 1rem;
}

button.SignIn:active {
  outline: none;
  border: none;
}

