/* Theme change transition */
* {
  transition: border 400ms ease-in-out, 400ms ease-in-out,
    color 200ms ease-in-out !important;
  -webkit-transition: border 400ms ease-in-out, background 400ms ease-in-out,
    color 200ms ease-in-out !important;
  -moz-transition: border 400ms ease-in-out, background 400ms ease-in-out,
    color 200ms ease-in-out !important;
  -o-transition: border 400ms ease-in-out, background 400ms ease-in-out,
    color 200ms ease-in-out !important;
}

button.ThemeSwitcher {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 4rem;

  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  border: none;
  outline: none;
}

button.ThemeSwitcher:active {
  outline: none;
  border: none;
}

